.search-bar {
    display: flex;
    gap: 10px;
    align-items: center;
    border: 4px solid var(--primary);
    width: 100%;
    max-width: 350px;
    border-radius: 8px;
    margin: 12px 0;
    background-color: var(--white);
    transition-duration: 200ms;
}

.search-input {
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 8px;
    background-color: var(--white);
    transition-duration: 200ms;
}

.search-bar:hover, .search-bar:focus-within, .search-bar:hover .search-input, .search-input:hover, .search-input:focus {
    background-color: white;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    padding: 10px;
    border-radius: 50% 0 0 50%;
    color: var(--white);
    cursor: pointer;
    margin-right: 0px;
}